.title-img {
  padding: 100px;
  }
.content {
  background-color: #B0B0B0 ;
  color: black;
  border-radius: 20px;	
  padding: 10px;
  margin: 50px auto;
}
.description {
  font-family: georgia;
  color: black;
  padding: 3px 10px;
  display: inline-block;
}
.title {
  font-weight: bold;
  display: inline;
  white-space: nowrap;
  padding: 50px;
  font-size: 75px;
  text-align: center;
  color: blue;
}
body {	
  color: #AB9F82;
  font: 9pt/13pt georgia, sans-serif;
  margin: 10px; 
  padding: 10px;	
  background: black
	}
h1 { 	
  font-size: 20px;
  font-weight: bold;		
  line-height: 100%;
  padding-top: 40px;
}
h2 {
  font-size: 12px;
  font-weight: bold;
  color: blue;
}
span {
  font-style: italic;
}
.links {
  font-size: 25px;
  line-height: 150%;
}
.indent {
  margin-left: 25px;
}
.indent2 {
  margin-left: 50px;
}
.code-block {
  font-family: Courier;
  background-color: black;
  color: white;
  padding: 2px 4px;
  display: inline-block;
}